*{
    margin: 0px;
    padding: 0px;
}
:root{
    --color-blueLight: #dce8f1;
    --color-blueDark: #324eb3;
    --color-body: #d9dde1;
}

body{
    background-color: var(#ffff);
    color: #10133c;
}
.headBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 6px;
    width: 99%;
    height: 90px;
    border-bottom: 3px solid #10133c;
    background-color: var(--color-blueDark);
}
ul, nav{
    display: flex;
    flex-direction: row;
    padding: 3px 3px;
    margin: 10px;
    gap: 15px;
}
li{
    list-style-type: none;
}
.aNav{
    color: var(--color-blueLight);
    background-color: var(--color-blueDark);
    border: 1px solid var(--color-blueLight);
    border-radius: 5px;
    padding: 6px;
    display: block;
    text-decoration: none;
}
.aNav:hover{
    color: var(--color-blueDark);
    transition: 350ms;
    background-color: var(--color-blueLight);
}
.imgBackground{
    background-color: #d9dde1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.cont{
    list-style-type: disc;
    padding: 3px;
    margin: 5px;
    font-size: 21px;
}