<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Três Irmãos-Contato</title>
    <link rel="stylesheet" href="styles/contato.css">
</head>
<body>
    <header class="headBar">
        <h1 style="margin-left: 15px;">Logo</h1>
        <nav>
            <ul>
                <li><a class="aNav" href="home.html">Home</a></li>
                <li><a class="aNav" href="nos.html">Sobre nós</a></li>
            </ul>
        </nav>
    </header>
    <div class="imgBackground">
        <h1>Entre em contato para encomendar o seu bolo...</h1>
        <ul>
            <li class="cont">(18)1234-5678 </li>
           <li class="cont">tresIrmaos@gmail.com</li>
       </ul>
    </div>
</body>
</html>