<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Três Irmãos-Sobre Nós</title>
    <link rel="stylesheet" href="styles/nos.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Quicksand:wght@300&display=swap" rel="stylesheet"> 
</head>
<style>
    body{font-family: 'Quicksand', sans-serif;}
    h1,h2{font-family: 'Comfortaa', cursive;}
</style>
<body>
    <header class="headBar">
        <h1 style="margin-left: 15px;">Sobre a Empresa</h1>
        <nav>
            <ul>
                <li><a class="aNav" href="home.html">Home</a></li>
                <li><a class="aNav" href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="sectionOne">

            <section class="One">
                <h2>Missão</h2>
                <div class="partionOne">
                    <p>Oferecer aos nossos clientes os mais deliciosos bolos, feitos com ingredientes frescos e de alta qualidade, criando momentos de alegria e satisfação para todo mundo... <strong>Em qualquer lugar</strong></p>
                </div>
            </section>
            <section class="One">
                <h2>Visão</h2>
                <div class="partionOne">
                    <p> Ser reconhecido como a melhor confeitaria de bolos do mundo, sempre inovando 
                        e expandindo nossas opções de sabores e atendendo as <strong>necessidades e preferências</strong>
                         de nossos clientes</p>
                </div>
            </section>

        </div>
        <div class="sectionTwon">
            
            <section class="Two">
                <h2>Valores</h2>
                <div class="partionTwo">
                    <p>Somos uma empresa que visa a qualidade dos produtos, e a satisfação do cliente. 
                        Trabalhamos de forma sustentável, usando embalagens biodegradáveis e evitando desperdício de alimentos</p>
                    </div>
                        <img src="styles/settings/seloVerde.png" alt="">
                    </div>
                </div>
            </section>

        </div>
    </main>
    <div class="footerBar">
        <h2>Patrocinadores...</h2>
        <div class="divP">
            <div class="cardP">
                <img src="styles/patro/Elon.jpg" alt="">
                <h3>Elon Musk</h3>
            </div>
            <div class="cardP">
                <img src="styles/patro/paola.jpg" alt="">
                <h3>Paola Carosella</h3>
            </div>
            <div class="cardP">
                <img src="styles/patro/jacquin.jpg" alt="">
                <h3>Jacquin</h3>
            </div>
            <div class="cardP">
                <img src="styles/patro/Taylor.png" alt="">
                <h3>Taylor Swift</h3>
            </div>
        </div>
        </div>
</body>
</html>