<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tres irmoes - Pedido</title>
    <link rel="stylesheet" href="styles/style.css">
    <script defer src="src/ninho.js"></script>
</head>

<body>
    <h1>Seu pedido</h1>

    <div class="controler">
        <p>Nome do Pedido: <span id="item_one" class="item"></span></p>
        <p>Preço: <span id="item_two" class="item"></span></p>
        <p>Sabor: <span id="item_tree" class="item"></span></p>
        <p>Frete: <span class="item">5.00</span></p>
        <input type="number" placeholder="CEP"><br>
        <button class="confirm" onclick="finalizar()">Confirmar Pedido!</button>
    </div>
    <div id="final" class="final">
      <img src="styles/Obrigado.jpeg" alt="" style="width: 400px; height: 350px;">
      <p>Obrigado pela preferência: <a href="../home.html">Voltar</a></p>
    </div>
</body>
</html>